In [2]:
import pandas as pd
a = pd.read_csv('bollywood.csv')
a

                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]

In [4]:
a[a['lead']=='Vicky Kaushal']

movie    2
lead     2
dtype: int64

In [8]:
a[a['lead']=='Vicky Kaushal'].shape[0]

2

In [10]:
a[a['lead']=='Amitabh Bachchan'].shape[0]

45

In [11]:
a[a['movie']=='Why Cheat India'].lead

3    Emraan Hashmi
Name: lead, dtype: object

In [12]:
import pandas as pd
mv = pd.read_csv('movies.csv')
mv

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India)
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011â€“2012)

In [13]:
mv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   object
 1   imdb_id           1629 non-null   object
 2   poster_path       1526 non-null   object
 3   wiki_link         1629 non-null   object
 4   title_y           1629 non-null   object
 5   original_title    1629 non-null   object
 6   is_adult          1629 non-null   int64
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   object
 9   genres            1629 non-null   object
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   object
 13  summary           1629 non-null   object
 14  tagline           557 non-null    object
 15  actors            1624 non-null   object
 16  wins_nominations  707 non-null    object
 17  release_date      1522 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 229.2+ KB

In [16]:
mv[mv['year_of_release']==2019].shape[0]

75

In [21]:
mv[mv['imdb_rating']>=7].shape[0]

361

In [25]:
mv[mv['imdb_votes']>20000].shape[0]

105

In [31]:
mv[['story','wiki_link','original_title']]

,story,wiki_link,original_title
0,Divided over five chapters the film chronicle...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike
1,The story revolves around a cricket match betw...,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609
2,Based on the memoir by Indian policy analyst S...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister
3,The movie focuses on existing malpractices in ...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India
4,While gay rights and marriage equality has bee...,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows
...,...,...,...
1624,Raj Dixit lives with his younger brother Rahu...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen
1625,Hindi pop-star Sarina Devan lives a wealthy ...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar
1626,Village born Lalloo re-locates to Bombay and ...,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh
1627,Shinda tries robbing a bank so he can be wealt...,https://en.wikipedia.org/wiki/Daaka,Daaka
1628,Sara and Ashar are childhood friends who share...,https://en.wikipedia.org/wiki/Humsafar,Humsafar

In [32]:
mv[['story','wiki_link','original_title']].to_csv('mydata.csv',index=False)

In [36]:
mv[(mv['year_of_release']==2019) & (mv['imdb_rating']>7)].shape[0]

26

In [39]:
mv[(mv['year_of_release']==2019) & (mv['imdb_rating']>7) & (mv['imdb_votes']>20000)].shape[0]

3

In [53]:
release = mv[mv['year_of_release']==2019]
release = release.reset_index(drop=True)
j=0
for i in release['title_x']:
    print(i,':',release['release_date'][j])
    j = j+1

Uri: The Surgical Strike : 11 January 2019 (USA)
Battalion 609 : 11 January 2019 (India)
The Accidental Prime Minister (film) : 11 January 2019 (USA)
Why Cheat India : 18 January 2019 (USA)
Fraud Saiyaan : 18 January 2019 (India)
Bombairiya : 18 January 2019 (India)
Manikarnika: The Queen of Jhansi : 25 January 2019 (USA)
Thackeray (film) : 25 January 2019 (India)
Amavas : 8 February 2019 (India)
Gully Boy : 14 February 2019 (USA)
Hum Chaar : 15 February 2019 (India)
Total Dhamaal : 22 February 2019 (India)
Sonchiriya : 1 March 2019 (India)
Badla (2019 film) : 8 March 2019 (India)
Photograph (film) : 17 May 2019 (USA)
Risknamaa : 15 March 2019 (India)
22 Yards : 15 March 2019 (India)
Kesari (film) : 21 March 2019 (USA)
Notebook (2019 film) : 29 March 2019 (USA)
Junglee (2019 film) : 29 March 2019 (USA)
Gone Kesh : 29 March 2019 (India)
Albert Pinto Ko Gussa Kyun Aata Hai? : 12 April 2019 (India)
The Tashkent Files : 12 April 2019 (India)
Kalank : 17 April 2019 (USA)
Setters (film) : 3 May 2019 (India)
Student of the Year 2 : 10 May 2019 (USA)
PM Narendra Modi : 24 May 2019 (USA)
De De Pyaar De : 17 May 2019 (USA)
India's Most Wanted (film) : 24 May 2019 (USA)
Khamoshi (2019 film) : 14 June 2019 (India)
Kabir Singh : 20 June 2019 (USA)
Article 15 (film) : 28 June 2019 (USA)
One Day: Justice Delivered : 5 July 2019 (India)
Hume Tumse Pyaar Kitna : 5 July 2019 (India)
Super 30 (film) : 12 July 2019 (USA)
Family of Thakurganj : 19 July 2019 (India)
Batla House : 15 August 2019 (USA)
Jhootha Kahin Ka : 19 July 2019 (India)
Judgementall Hai Kya : 26 July 2019 (USA)
Chicken Curry Law : 9 August 2019 (India)
Arjun Patiala : 26 July 2019 (USA)
Jabariya Jodi : 9 August 2019 (USA)
Pranaam : nan
The Sky Is Pink : 11 October 2019 (USA)
Mission Mangal : 15 August 2019 (USA)
Saaho : 30 August 2019 (USA)
Dream Girl (2019 film) : 13 September 2019 (USA)
Section 375 : 13 September 2019 (USA)
The Zoya Factor (film) : 20 September 2019 (USA)
Pal Pal Dil Ke Paas : 20 September 2019 (USA)
Prassthanam : 20 September 2019 (USA)
P Se Pyaar F Se Faraar : 18 October 2019 (India)
Ghost (2019 film) : 18 October 2019 (India)
Bala (2019 film) : 7 November 2019 (USA)
Yaaram (2019 film) : nan
Housefull 4 : 25 October 2019 (USA)
Saand Ki Aankh : 25 October 2019 (USA)
Made in China (2019 film) : 25 October 2019 (USA)
Ujda Chaman : 1 November 2019 (USA)
Bypass Road (film) : 8 November 2019 (USA)
Satellite Shankar : 8 November 2019 (India)
Jhalki : nan
Marjaavaan : 15 November 2019 (USA)
Motichoor Chaknachoor : 15 November 2019 (USA)
Keep Safe Distance (film) : nan
Pagalpanti (2019 film) : nan
Ramprasad Ki Tehrvi : nan
Yeh Saali Aashiqui : nan
Dil Bechara : nan
Pati Patni Aur Woh (2019 film) : nan
Commando 3 (film) : nan
Mardaani 2 : nan
Dabangg 3 : nan
Good Newwz : nan
Daaka : 1 November 2019 (USA)

In [54]:
import pandas as pd
vk = pd.read_csv('kohli_ipl.csv')
vk

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [59]:
import pandas as pd
vk = pd.read_csv('kohli_ipl.csv',index_col='match_no',squeeze=True)
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [60]:
vk = vk.sort_values(ascending=True)

In [62]:
vk.head(10)

match_no
87     0
211    0
207    0
206    0
91     0
93     0
8      0
130    0
135    0
106    1
Name: runs, dtype: int64

In [68]:
vk.head(10)

match_no
87     0
211    0
207    0
206    0
91     0
93     0
8      0
130    0
135    0
106    1
Name: runs, dtype: int64

In [71]:
vk = vk.sort_values(ascending=False)

In [73]:
vk.head(10)

match_no
128    113
126    109
123    108
120    100
164    100
82      99
81      93
145     92
178     90
160     84
Name: runs, dtype: int64

In [74]:
vk[vk.values==0].shape[0]

9

In [76]:
vk[(vk.values>90) & (vk.values<100)]

match_no
82     99
81     93
145    92
Name: runs, dtype: int64

In [77]:
import pandas as pd
ipl = pd.read_csv('ipl-matches.csv')
ipl

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [78]:
ipl[ipl['SuperOver']=="Y"].shape[0]

14

In [81]:
ipl[(ipl['TossWinner'])==(ipl["WinningTeam"])].shape[0]

489

In [84]:
ipl[(ipl['City']=='Kolkata') & (ipl["WinningTeam"]=='Chennai Super Kings')]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
224,1178404,Kolkata,2019-04-14,2019,29,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,5.0,NaN,Imran Tahir,"['CA Lynn', 'SP Narine', 'N Rana', 'RV Uthappa...","['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...",CK Nandan,RJ Tucker
602,598022,Kolkata,2013-04-20,2013,26,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Kolkata Knight Riders,bat,N,Chennai Super Kings,Wickets,4.0,NaN,RA Jadeja,"['G Gambhir', 'YK Pathan', 'JH Kallis', 'EJG M...","['MEK Hussey', 'R Ashwin', 'M Vijay', 'SK Rain...",Asad Rauf,AK Chaudhary
641,548368,Kolkata,2012-05-14,2012,63,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,5.0,NaN,MEK Hussey,"['G Gambhir', 'BB McCullum', 'JH Kallis', 'MK ...","['MEK Hussey', 'M Vijay', 'SK Raina', 'F du Pl...",JD Cloete,SJA Taufel
827,419113,Kolkata,2010-03-16,2009/10,8,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,bat,N,Chennai Super Kings,Runs,55.0,NaN,MS Dhoni,"['BJ Hodge', 'MK Tiwary', 'SC Ganguly', 'WP Sa...","['M Vijay', 'ML Hayden', 'SK Raina', 'S Badrin...",HDPK Dharmasena,AM Saheba
908,336025,Kolkata,2008-05-18,2007/08,41,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Kolkata Knight Riders,bat,N,Chennai Super Kings,Runs,3.0,D/L,M Ntini,"['Salman Butt', 'Mohammad Hafeez', 'SC Ganguly...","['PA Patel', 'SP Fleming', 'S Vidyut', 'SK Rai...",Asad Rauf,K Hariharan

In [87]:
ipl[(ipl['Player_of_Match']=='HH Pandya') & ((ipl['Team1']=="Rajasthan Royals") |(ipl['Team2']=="Rajasthan Royals"))].shape[0]

2

In [88]:
ipl[(ipl['TossWinner']=='Gujarat Titans') & (ipl['TossDecision']=='bat')].shape[0]

4

In [89]:
ipl[(ipl['TossWinner']=='Gujarat Titans') & (ipl['TossDecision']=='bat') & (ipl['WinningTeam']=='Gujarat Titans')].shape[0]

2

In [90]:
ipl[((ipl['Team1']=="Gujarat Titans") |(ipl['Team2']=="Gujarat Titans"))].shape[0]

16

In [94]:
ipl[(ipl['WinningTeam']=="Gujarat Titans") & (ipl['SuperOver']=="Y") ].shape[0]

0

In [95]:
ipl[(ipl['WinningTeam']=="Gujarat Titans") & (ipl['WonBy']=="Runs") ].shape[0]

4

In [101]:
ipl[(ipl['City']=="Ahmedabad") & (ipl['Season']=="2022") & (ipl['WinningTeam']=="Gujarat Titans")]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [100]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [102]:
ipl["WinningTeam"].value_counts()

Mumbai Indians                 131
Chennai Super Kings            121
Kolkata Knight Riders          114
Royal Challengers Bangalore    109
Rajasthan Royals                96
Kings XI Punjab                 88
Sunrisers Hyderabad             75
Delhi Daredevils                67
Delhi Capitals                  36
Deccan Chargers                 29
Punjab Kings                    13
Gujarat Lions                   13
Pune Warriors                   12
Gujarat Titans                  12
Rising Pune Supergiant          10
Lucknow Super Giants             9
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: WinningTeam, dtype: int64