# findall() function

In [3]:
import re
txt = "The Rain in Spain"
x = re.findall("ai",txt)
print(x)

['ai', 'ai']

In [5]:
import re
txt = "The Rain in Spain"
x = re.findall('[arn]',txt)
print(x)

['a', 'n', 'n', 'a', 'n']

In [6]:
import re
txt = "The Rain in Spain"
x = re.findall('[^arn]',txt)
print(x)

['T', 'h', 'e', ' ', 'R', 'i', ' ', 'i', ' ', 'S', 'p', 'i']

In [9]:
import re
txt = "The Rain in Spain"
x = re.findall('paris',txt)
print(x)

[]

In [12]:
import re
txt = "The Rain in Spain"
x = re.findall('[a-m]',txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [14]:
import re
txt = "The Rain in Spain 28"
x = re.findall('\d',txt)  #digit show
print(x)

['2', '8']

In [17]:
import re
txt = "The Rain in Spain 28"
x = re.findall('\d+',txt)  #digit show 
print(x)

['28']

In [20]:
import re
txt = "The Rain 3xv3 in Spain 28"
x = re.findall('\d+',txt)  #digit show 
print(x)

['3', '3', '28']

In [21]:
import re
txt = "hello planet helo"
x = re.findall('he..o',txt)  # bcz of 2 dot
print(x)

['hello']

In [24]:
import re
txt = "hello planet helo"
x = re.findall('^h.+\s',txt)  
print(x)

['hello planet ']

In [25]:
import re
txt = "hello planet helo "
x = re.findall('^h.+\s',txt)  # count also space
print(x)

['hello planet helo ']

In [29]:
import re
txt = "hello planet"
x = re.findall('planet$',txt)  # last wrod hovo joi "$"
print(x)

['planet']

In [35]:
import re
txt = "hello hellar"
x = re.findall('hell.*o',txt)  # last o hovo joi , # * = zero or more word
print(x)

['hello']

In [34]:
import re
txt = "hello hellaro"
x = re.findall('hell.*o',txt)  
print(x)

['hello hellaro']

In [36]:
import re
txt = "hello hellar"
x = re.findall('hell.+o',txt)
print(x)

[]

In [37]:
import re
txt = "hello hellaro"
x = re.findall('hell.+o',txt)  
print(x)

['hello hellaro']

In [38]:
import re
txt = "hello heo helo planet"
x = re.findall('he.?o',txt)  
print(x)

['heo', 'helo']

In [39]:
import re
txt = "hello heo helo planet"
x = re.findall('he.{2}o',txt)  
print(x)

['hello']

In [42]:
import re
txt = "The rain in spain falls in the plain"  
x = re.findall('spain | plain',txt)   # either or 
print(x)

['spain ', ' plain']

In [43]:
import re
txt = "The rain in spain falls in the main"
x = re.findall('spain | plain',txt)  
print(x)

['spain ']

In [44]:
import re
txt = "The rain in spain123"
x = re.findall('\D',txt)  
print(x)

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 's', 'p', 'a', 'i', 'n']

In [45]:
import re
txt = "The rain in spain123"
x = re.findall('\d',txt)  
print(x)

['1', '2', '3']

In [46]:
import re
txt = "The rain in spain123"
x = re.findall('\s',txt)  # show space
print(x)

[' ', ' ', ' ']

In [48]:
import re
txt = "The rain in spain123"
x = re.findall('\S',txt)  # remove space
print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'p', 'a', 'i', 'n', '1', '2', '3']

In [49]:
import re
txt = "The rain in spain123"
x = re.findall('\w',txt)  # remove space and add number also
print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'p', 'a', 'i', 'n', '1', '2', '3']

In [50]:
import re
txt = "The rain in spain123"
x = re.findall('\W',txt)  
print(x)

[' ', ' ', ' ']

In [51]:
import re
txt = "8 times before 11:45 AM"
x = re.findall('[0-9]',txt)  # give only digits
print(x)

['8', '1', '1', '4', '5']

In [52]:
import re
txt = "8 times before 11:45 AM"
x = re.findall('[0-5][0-9]',txt)  
print(x)

['11', '45']

In [55]:
import re
txt = "08 times before 11:45 AM"
x = re.findall('[0-5][0-9]',txt)  
print(x)

['08', '11', '45']

In [57]:
import re
txt = "8 times before 11:45 AM"
x = re.findall('\d+',txt)  
print(x)

['8', '11', '45']

# Search() Function.

In [67]:
import re
txt = "The rain in spain"
x = re.search('\s',txt)  
print(x)

<re.Match object; span=(3, 4), match=' '>

In [73]:
import re
txt = "The    rain in spain"
x = re.search('\s+',txt)  
print(x)

<re.Match object; span=(3, 7), match='    '>

In [70]:
import re
txt = "The rain in spain"
x = re.search('\s',txt)  
print(x.span())

(3, 4)

In [71]:
import re
txt = "The rain in spain"
x = re.search('\s',txt)  
print(x.start())

3

In [72]:
import re
txt = "The rain in spain"
x = re.search('\s',txt)  
print(x.end())

4

In [82]:
import re
txt = "The rain in spain"
x = re.search('rain',txt)  
print(x)

<re.Match object; span=(4, 8), match='rain'>

In [83]:
import re
txt = "The rain in spain"
x = re.search('mm',txt)  
print(x)

None

In [85]:
import re
txt = "No 7756spain 123"
x = re.search('\d',txt)  
print(x)

<re.Match object; span=(3, 4), match='7'>

In [88]:
import re
txt = "No 7756spain 123"
x = re.search('\d+',txt)  
print(x)

<re.Match object; span=(3, 7), match='7756'>

In [95]:
import re
txt = "Python is fun"
x = re.search('^Python',txt)  
print(x)

<re.Match object; span=(0, 6), match='Python'>

In [96]:
import re
txt = "Python is fun"
x = re.search('^Java',txt)  
print(x)

None

In [97]:
import re
txt = "Python is fun"
x = re.search('^P',txt)  
print(x)

<re.Match object; span=(0, 1), match='P'>

# split() funtion

In [99]:
import re
txt = "The rain in spain"
x = re.split('\s',txt)  
print(x)

['The', 'rain', 'in', 'spain']

In [101]:
import re
txt = "The rain in spain"
x = re.split('\s',txt,1)  #give 0,1 
print(x)

['The', 'rain in spain']

In [102]:
import re
txt = "The rain in spain"
x = re.split('\s',txt,2)  #give 0,1,2 
print(x)

['The', 'rain', 'in spain']

In [4]:
import re
txt = "The_quick_brown@fox*jumps#over$the$lazy&dog"
pattern = '[a-zA-Z]+'
x = re.split(pattern,txt)
print(x)

['', '_', '_', '@', '*', '#', '$', '$', '&', '']

In [5]:
import re
txt = "The quick brown for jump over the lazy dog"
pattern = '\s+\w+\s'
x = re.split(pattern,txt)
print(x)

['The', 'brown', 'jump', 'the', 'dog']

In [10]:
import re
txt = "The quick brown for jump over the lazy dog"
pattern = '\s[a-z]+\s'
x = re.split(pattern,txt)
print(x)

['The', 'brown', 'jump', 'the', 'dog']

In [15]:
import re
txt = "Twelve:8 Eight Nine:9"
pattern = '\d'
x = re.split(pattern,txt)
print(x)

['Twelve:', ' Eight Nine:', '']

In [19]:
import re
txt = "Twelve:12 Eight Nine:89"
pattern = '\d'
x = re.split(pattern,txt)
print(x)

['Twelve:', '', ' Eight Nine:', '', '']

In [21]:
import re
txt = "Twelve:12 Eight Nine:89"
pattern = '\d+'
x = re.split(pattern,txt)
print(x)

['Twelve:', ' Eight Nine:', '']

In [41]:
import re
txt = "The rain in ahmedabad earth"
x = re.split('\s',txt)  #split each element

for i in x:
    if i[0] == 'a' or i[0] =='e':
        print(i)

ahmedabad
earth

# sub() funtion

In [47]:
# sub act like replace
import re
txt = "The rain in ahmedabad earth"
x = re.sub("\s","9",txt)
print(x)

The9rain9in9ahmedabad9earth

In [51]:
import re
txt = "The rain in ahmedabad earth"
x = re.sub("\s","9",txt,2) # first 2 space replace with 9 
print(x)

The9rain9in ahmedabad earth

In [54]:
import re
txt = "The rain in ahmedabad     earth"
x = re.sub("\s+"," ",txt) #replacr multiple space into one space
print(x)

The rain in ahmedabad earth

In [55]:
import re
txt = "The rain in ahmedabad     earth"
x = re.sub("\s"," ",txt)  
print(x)

The rain in ahmedabad earth

# finish

In [57]:
import re
txt = "hello heo helo planet"
x = re.findall('he.?o',txt)  
print(x)

['heo', 'helo']

In [82]:
import re
txt = "968770000000,850250220250,12345678910,6354002000,632505505500,8200110220,1203040506,9825000320450"
x = re.split('\s',txt) 

for i in x:
    if len(i) == 10 and re.findall('[6-9][0-9]{9}',i):
        print(i)

In [112]:
import re
url = "https://www.google.com/news/football-insider/wp/2016/09/02/odell-backhan"
x = re.findall('\d{4}[/]+\d{2}[/]+\d{2}[/]',url) 
print(x)
print(x[0])

['2016/09/02/']
2016/09/02/

In [116]:
import re
url = "https://www.google.com/news/football-insider/wp/2016/09/02/odell-backhan"
x = re.findall('\w{3}[.]\w+[.]\w{3}',url)
print(x)

['www.google.com']

In [127]:
import re
txt = "my email id is abc.def@yahoo.com"
x = re.findall('\w+[.]\w+[@]\w+[.]\w{3}',txt)
print(x)

['abc.def@yahoo.com']

In [125]:
import re
txt = "my email id is mangajjar44@gmail.com"
x = re.findall('\w+\d+[@]\w+[.]\w{3}',txt)
print(x)

['mangajjar44@gmail.com']

In [149]:
import re
txt = "mangajjar44@gmail.com yashgajjar26082001@gmail.com 323andrewtaterealwrold@gmail.com realwrold245@yahho.com %andrewtaterealwrold@gmail.com"
print(txt)

y = re.findall('\w+\d+[@]\w+[.]\w{3}',txt)
print(y)

mangajjar44@gmail.com yashgajjar26082001@gmail.com 323andrewtaterealwrold@gmail.com realwrold245@yahho.com %andrewtaterealwrold@gmail.com
['mangajjar44@gmail.com', 'yashgajjar26082001@gmail.com', 'realwrold245@yahho.com']

In [150]:
import re
txt = "mangajjar44@gmail.c0m yashgajjar26082001@gmail.com 323andrewtaterealwrold@gmail.com realwrold245@yahho.com %andrewtaterealwrold@gmail.com"
print(txt)

y = re.findall('\w+\d+[@]\w+[.][a-z]{3}',txt)  #[.][a-z]{3}
print(y)

mangajjar44@gmail.c0m yashgajjar26082001@gmail.com 323andrewtaterealwrold@gmail.com realwrold245@yahho.com %andrewtaterealwrold@gmail.com
['yashgajjar26082001@gmail.com', 'realwrold245@yahho.com']

SyntaxError: invalid character in identifier (<ipython-input-151-5a8289b193e4>, line 1)